
@font-face {
    font-family: 'CW BR Firma', sans-serif;
    src: url(../font/medium.otf) format("embedded-opentype"),
    url(../font/medium.otf) format("truetype");
}
*{
    margin: 0.4%;
    font-family: 'CW BR Firma', sans-serif;
}
body{
  overflow-x: hidden;
  width: 100%;
}
header{
    display: flex;
    flex-direction: row;
    .nav_bar{
        display: flex;
        position: fixed;
        top: 0;
        background: white;
        width: 99%;
        margin: 0%;
        align-items: center;
        padding: 0%;
        .logo_section{
            flex: 1;
            svg{
               padding: 3% 0%;
            }
        }
        .menu_list{
            flex: 3;
            padding: 0%;
            margin: 0%;
            ul{
                display: flex;
                list-style: none;
                display: flex;
                justify-content: flex-start;
                padding: 1.3% 5%;
                li{
                   margin: 0% 3%;
                   font-weight: 400;
                    a{
                        text-decoration: none;
                        color: #7A8FB0;
                    }
                }
            }
        }
        .logIn_signUp{
            flex: 3;
            display: flex;
            justify-content: flex-end;
            margin: 0%;
            padding: 0%;
            button{
                padding: 1.5% 6%;
                margin-left: 6%;
                margin-right: 3%;
                border: 2px solid #579AF8;
                border-radius: 5px;
                background: white;
                color: #579AF8;
            }
            .blue{
                color: white;
                background: #579AF8;
            }
        }
        i{
            display: none;
        }
    }
}

    .hero_section{
        display: flex;
        background-image: url("../images/naira.svg");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 90vh 10vw;
        .sub_one_text{
            flex: 1.2;
            padding-top: 21%;
            padding-right: 60%;
            h1{
                font-size: 3.5rem;
                color: #022B69;
                padding: 6% 0%;
                line-height: 1.25;
                font-weight: 790;
            }
            p{
                color: #395989;
                font-size: 1rem;
                width: 80%;
                margin: 0px 0px 15px;
                line-height: 1.9;
                font-weight: 400;
            }
            button{
                background:  #0066F5;
                color: #F0F6FE;
                border: none;
                border-radius: 5px;
                padding: 4%;
                font-weight: 700;
                margin: 4% 0%;
            }
        }
        
    }


.container_two{
    display: flex;
    flex-direction: column;
    background: #F4F8FC;
    justify-content: center;
    padding-top: 5%;
    margin: 1% 1% 1% 0.5%;
    .heading{
        text-align: center;
        flex: 1;
        h3{
            color: #022B69;
            font-size: 2.5rem;
            line-height: 2;
        }
        p{
            color: #4D6B97;
        }
    }
    .plan_types{
        flex: 4;
        display: grid;
        width: 77%;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: 5% 10%;
        .card{
            background: #FFFFFF;
            border: none;
            border-radius: 5px;
            margin: 0% 13% 10%;
            width: 75%;
            padding: 6% 5%;
            justify-content: center;
            color: #022B69;
            i{
                font-size: 4rem;
                line-height: 2;
            }
            h2{
                font-weight: 750;
                line-height: 2;
            }
            p{
                line-height: 1.5;
            }
        }
    }
}

.goals{
    display: flex;
    .goals_image{
        flex: 1;
        img{
            height: 80%;
        }
    }
    .goals_text{
        flex: 1.5;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        h3{
            text-align: justify;
            color: #022B69;
            font-size: 2.5rem;
            margin: 3%;
            line-height: 2;
        }
        img{
            height: 60%;
            width: 80%;
        }
    }
}

.app_section{
    display: flex;
    background-image: url("../images/mockup-cowrywise-savings-app.png");
    background-size: 39%;
    background-repeat: no-repeat;
    background-position: 80% 100%;
    height: 77vh;
    background-color: #F4F8FC;
    margin: 1% 1% 1% 0.5%;
    .app_content{
      padding: 15% 65% 0% 0%;
      flex: 1;
      color: #022B69;
      display: flex;
      flex-direction: column;
      h3{
          color: #022B69;
          font-size: 2.3rem;
          line-height: 1.3;
          padding: 5% 0%;
          font-weight: 800;
      }
      a{
          color: #0468F5;
          text-decoration: none;
          font-weight: 600;
          padding-top: 5%;
      }
    }
}

.billionaire_circle{
    display: flex;
    padding: 7% 0%;
    img{
        flex: 1;
        width: 45%;
        height: 120vh;
        border-radius: 5px;
        object-fit: cover;
        margin-right: 6%;
    }
    .circle_content{
        flex: 1;
        padding-top: 7%;
        color: #022B69;
        h3{
            font-size: 2.5rem;
            font-weight: 800;
            line-height: 1.3;
        }
        p{
            padding: 7% 0%;
            padding-right: 8%;
        }
        hr{
            padding-bottom: 0.2%;
            margin-bottom: 8%;
        }
        .listing{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .list_item{
                max-width: 50%;
                margin-bottom: 15%;
                h5{
                    font-weight: 850;
                    font-size: 1rem;
                }
                p{
                    font-size: 1rem;
                    line-height: 1.3;
                }
                &:before{
                    content: " ";
                    height: 14px;
                    width: 14px;
                    border-radius: 3px;
                    position: absolute;
                    background-color: #022B69;
                    margin: 0.5% -2%;
                    box-shadow: 3px 3px 0 0 rgba(2, 43, 105, 0.3);
                }
            }
        }
        button{
            color: white;
            background: #0066F5;
            padding: 3% 6%;
            border: none;
            border-radius: 5px;
            font-weight: 700;
        }
    }
}


.halal_section{
    display: flex;
    padding: 5% 0% 10%;
    .halal_content{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: #022B69;
        padding-left: 5%;
        h3{
            font-size: 2rem;
            font-weight: 800;
            padding-right: 45%;
            line-height: 1.3;
        }
        p{
            font-size: 1.1rem;
            padding-right: 30%;
            line-height: 1.5;
            margin-top: 5%;
        }
    }
    img{
        flex: 1;
        width: 42%;
        border-radius: 20px;
        object-fit: cover;
        margin-right: 10%;
    }
}

.testimony{
    display: flex;
    background: #CDF2FC;
    margin: 1% 1% 1% 0.5%;
    img{
        flex: 1;
        width: 50%;
        height: 130vh;
        object-fit: cover;
        margin: 0%;
    }
    .testimony_content{
        flex: 1;
        padding-right: 7%;
        padding-top: 7%;
        padding-left: 7%;
        h4{
            color: #022B69;
            font-size: 2.5rem;
            line-height: 1.4;
        }
        p{
            color: #022B69;
            font-weight: 800;
            padding-top: 5%;
            line-height: 1.75;
            span{
            color: #022B6980;
            font-weight: 400;
            }
        }
        a{
            color: #022B6980;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    margin: 0% 4%;
    padding: 0% 2%;
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0% 100%;
    .mobile_app{
        display: flex;
        flex-direction: row;
        margin: 5% 3% 10% 8%;
        justify-content: center;
        align-items: center;

        .app_review{
        flex: 1;
        border: 1px solid rgba(2,43,105,.07);
        box-shadow: 1px 12px 24px rgba(2, 43, 105, 0.05);
        padding: 3% 2%;
        border-radius: 10px;
        margin-right: 5%;
            .rating{
                display: flex;
                padding-bottom: 5%;
                .num_star{
                    flex: 1;
                    display: flex;
                h3{
                    color: #022B69;
                    font-size: 2.5rem;
                    padding: 8% 0% 0%;
                    width: fit-content;
                    margin: 0%;
                    span{
                        color: #6780A5;
                        font-size: 1rem;
                    }
                }
                .star{
                    width: 10vw;
                    height: 10vh;
                    margin: 2.4% 5%;
                }
            }
            .app_logo{
                width: 10vw;
            }
            
        }
        h6{
            color: #022B69;
            margin: 0% 0% 3%;
            font-size: 1.3rem;
        }
        p{
            color: #6c82a3;
            margin: 3% 0%;
            font-size: 0.8rem;
        }
        a{
            color: #0066f5;
            margin: 10% 0% 0%;
            font-size: 0.7rem;
            font-weight: 600;
            text-decoration: none;
        }
    }
    }
    .middle_footer{
        display: flex;
        margin: 0% 0% 5%;
        background: #0066F5;
        padding: 7% 6%;
        border-radius: 12px;
        box-shadow: 0 59px 51px -34px rgba(0, 103, 245, 0.3);
        .text{
            flex: 1;
            h3{
                color: white;
                font-size: 2rem;
            }
        }
        .email{
            flex: 1;
            .email_button{
                display: flex;
                width: 85%;
                background: hsla(0,0%,100%,.25);
                padding: 1%;
                border-radius: 5px;
                justify-content: flex-end;
                input{
                    background: transparent;
                    border: none;
                    color: rgb(5, 4, 4);
                }
                button{
                    border: none;
                    color: #022b69;
                    padding: 2% 3%;
                    border-radius: 5px;
                    font-weight: 600;
                }
            }
        }
    }
    .bottom_footer{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5%;
        .bottom_footer_col{
            box-sizing: border-box;
            flex: 1;
            h4{
                color: #022B69;
            }
            ul{
                display: block;
                padding: 6% 0% 2%;
                color: #6780A5;
            
                li{
                    list-style: none;
                    line-height: 2.5;
                    a{
                        text-decoration: none;
                        color: #6780A5;
                    }
                }
            }
        }
    }
    .social_media{
        margin: 3% 50% 5% 0%;
        padding-left: 0%;
        li{
            display: inline;
            list-style: none;
            a{
                text-decoration: none;
                i{
                    color: rgba(2,43,105,.6);
                }
            }
        }
    }
    .address_license{
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        p{
            flex: 5;
            height: fit-content;
            color: #022B69;
            padding: 1.4% 0% 0.5%;
                span{
                    color: #6780A5;
                    font-size: 0.6rem;
                }
        }
        .license{
            flex: 1;
            display: flex;
            padding: 0.5% 3%;
            margin: 0%;
            box-shadow: 1px 8px 12px rgba(2, 43, 105, 0.02);
            border: 1px solid rgba(2,43,105,.06);
            border-radius: 5px;
            .image{
                flex: 0.4;
                img{
                    width: 90%;
                    padding-top: 20%;
                }
            }
            .text{
                flex: 1.5;
                padding-top: 3%;
                color: #022B69;
                font-weight: 600;
                .fund{
                    color: #6780A5;
                    font-size: 0.6rem;
                    font-weight: 400;
                }
            }
        }
    }
    .copyright{
        p{
            line-height: 1.2;
            margin: 1% 0%;
            color: #6780A5;
            font-size: 0.9rem;
        }

    }
}
@media screen and(max-width: 800px){
    *{
        flex-wrap: wrap;
        padding: 0%;
        margin: 1%;
    }
    body{
  margin-left: 0%;
    }
    header{
        .nav_bar{
            width: 95%;
            .logo_section{
                flex: 0.8;
                svg{
                    padding: 4%;
                }
            }
            .menu_list{
                display: none;
            }
            .logIn_signUp{
                display: none;
            }
            i{
                flex: 0.1;
                display: inline;
                font-size: 2.5rem;
                color: #022B69;
                padding-right: 0%;
                padding-left: 6%;
                margin: 0%;
                &:hover{
                    background: #6780A5;
                }
            }
        }
    }
    .hero_section{
        background-position: -130px 550px;
        background-size: 790px;
        height: 910px;
        .sub_one_text{
            flex-basis: 100%;
            width: 100%;
            padding: 5%;
            h1{
                font-size: 2.3rem;
                font-weight: 800;
                margin: 1% 0%;
                padding: 45% 0% 8%;
            }
            p{
                margin: 0% 0% 5%;
                padding: 0%;
                text-align: left;
                width: 100%;
            }
            
        }
    }
    .container_two{
        .heading{
            padding: 0% 6%;
            margin-bottom: 5%;
            h3{
                line-height: 1;
                font-size: 1.7rem;
                font-weight: 800;
                margin-bottom: 9%;
            }
        }
        .plan_types{
            display: flex;
            flex-direction: column;
            margin-bottom: 30%;
            .card{
                margin: 3.2%;
                padding: 6% 12%;
            }
        }
    }
    .goals{
        flex-direction: column;
        .goals_text{
            margin-top: 100%;
            h3{
                font-size: 1.3rem;
                line-height: 1.2;
                font-weight: 800;
            }
        }
    }
    .app_section{
        background-position: -8px 300px;
        background-size: 100%;
        .app_content{
            padding: 0%;
        }
    }
    .billionaire_circle{
        flex-direction: column;
        img{
            width: 100%;
        }
        .circle_content{
            h3{
                font-size: 2rem;
                font-weight: 800;
            }
            .listing{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-content: center;
                margin-left: 8%;
                .list_item{
                    max-width: 100%;
                    margin-bottom: 2%;
                    h5{
                        font-size: 1.5rem;
                        margin-bottom: 0%;
                        margin-left: 9%;
                        line-height: 0;
                    }
                    &:before{
                        margin: -0.5% 3%;
                    }
                }
            }
        }
        button{
            margin: 0% 30%;
        }
    }
    .halal_section{
        flex-direction: column-reverse;
        padding: 0%;
        img{
            width: 100%;
        }
        .halal_content{
            h3{
                font-size: 1.5rem;
            }
            p{
                margin: 0%;
            }
        }
    }
    .testimony{
        flex-direction: column;
        img{
            width: 100%;
        }
        .testimony_content{
            h4{
                font-size: 1.3rem;
                line-height: 1.5;
                font-weight: 700;
            }
            p{
                font-size: 0.8rem;
                font-weight: 800;
                span{
                    font-weight: 800;
                }
            }
            a{
                font-size: 0.8rem;
            }
        }
    }
    footer{
        .mobile_app{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 0%;
        
            .app_review{
            margin: 5% 0%;
                .rating{
                flex-direction: column;
                .num_star{
                    h3{
                        padding: 0%;
                        margin: 0%;
                    }
                    .star{
                        width: 50%;
                        height: 50%;
                        margin-top: 5%;
                    }
                }
                .app_logo{
                    padding: 0%;
                    margin: 0%;
                    width: 50%;
                    height: 8vh;
                }
                }
            }
        }
        .middle_footer{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            .email{
                padding: 0%;
                .email_button{
                    flex-direction: column;
                    background: none;
                    input{
                        background: hsla(0,0%,100%,.25);
                        padding: 5% 3%;
                        border-radius: 5px;
                        margin-bottom: 10%;
                    }
                    button{
                        padding: 5% 0%;
                        width: 50%;
                        font-size: 0.6rem;
                    }

                }
            }
        }
        .bottom_footer{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 20%;
        }
        .address_license{
            display: grid;
            grid-template-columns: 1fr;
            .license{
                width: 70%;
            }
            
        }
    }
}