@font-face {
  font-family: 'CW BR Firma', sans-serif;
  src: url(../font/medium.otf) format("embedded-opentype"), url(../font/medium.otf) format("truetype");
}

* {
  margin: 0.4%;
  font-family: 'CW BR Firma', sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  background: white;
  width: 100.29%;
  margin: 0% -3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3% 2%;
}

header .nav_bar .logo_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .nav_bar .logo_section svg {
  padding: 3% 0%;
}

header .nav_bar .menu_list {
  -webkit-box-flex: 4.5;
      -ms-flex: 4.5;
          flex: 4.5;
}

header .nav_bar .menu_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.3% 0%;
}

header .nav_bar .menu_list ul li {
  margin: 0% 3%;
  font-weight: 400;
}

header .nav_bar .menu_list ul li a {
  text-decoration: none;
  color: #7A8FB0;
}

header .nav_bar .logIn_signUp {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .nav_bar .logIn_signUp button {
  padding: 3% 5%;
  margin-left: 7%;
  border: 2px solid #579AF8;
  border-radius: 5px;
  background: white;
  color: #579AF8;
}

header .nav_bar .logIn_signUp .blue {
  color: white;
  background: #579AF8;
}

header .nav_bar i {
  display: none;
}

.hero_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/naira.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 90vh 10vw;
}

.hero_section .sub_one_text {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  padding-top: 21%;
  padding-right: 60%;
}

.hero_section .sub_one_text h1 {
  font-size: 3.5rem;
  color: #022B69;
  padding: 6% 0%;
  line-height: 1.25;
  font-weight: 790;
}

.hero_section .sub_one_text p {
  color: #395989;
  font-size: 1rem;
  width: 80%;
  margin: 0px 0px 15px;
  line-height: 1.9;
  font-weight: 400;
}

.hero_section .sub_one_text button {
  background: #0066F5;
  color: #F0F6FE;
  border: none;
  border-radius: 5px;
  padding: 4%;
  font-weight: 700;
  margin: 4% 0%;
}

.container_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F4F8FC;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
}

.container_two .heading {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container_two .heading h3 {
  color: #022B69;
  font-size: 2.5rem;
  line-height: 2;
}

.container_two .heading p {
  color: #4D6B97;
}

.container_two .plan_types {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -ms-grid;
  display: grid;
  width: 77%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 10%;
}

.container_two .plan_types .card {
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  margin: 0% 13% 10%;
  width: 75%;
  padding: 6% 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #022B69;
}

.container_two .plan_types .card i {
  font-size: 4rem;
  line-height: 2;
}

.container_two .plan_types .card h2 {
  font-weight: 750;
  line-height: 2;
}

.container_two .plan_types .card p {
  line-height: 1.5;
}

.goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goals .goals_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.goals .goals_image img {
  height: 80%;
}

.goals .goals_text {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15%;
}

.goals .goals_text h3 {
  text-align: justify;
  color: #022B69;
  font-size: 2.5rem;
  margin: 3%;
  line-height: 2;
}

.goals .goals_text img {
  height: 60%;
  width: 80%;
}

.app_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/mockup-cowrywise-savings-app.png");
  background-size: 39%;
  background-repeat: no-repeat;
  background-position: 80% 100%;
  height: 77vh;
  background-color: #F4F8FC;
}

.app_section .app_content {
  padding: 15% 65% 0% 0%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #022B69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app_section .app_content h3 {
  color: #022B69;
  font-size: 2.3rem;
  line-height: 1.3;
  padding: 5% 0%;
  font-weight: 800;
}

.app_section .app_content a {
  color: #0468F5;
  text-decoration: none;
  font-weight: 600;
  padding-top: 5%;
}

.billionaire_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7% 0%;
}

.billionaire_circle img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 45%;
  height: 120vh;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 6%;
}

.billionaire_circle .circle_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 7%;
  color: #022B69;
}

.billionaire_circle .circle_content h3 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3;
}

.billionaire_circle .circle_content p {
  padding: 7% 0%;
  padding-right: 8%;
}

.billionaire_circle .circle_content hr {
  padding-bottom: 0.2%;
  margin-bottom: 8%;
}

.billionaire_circle .circle_content .listing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.billionaire_circle .circle_content .listing .list_item {
  max-width: 50%;
  margin-bottom: 15%;
}

.billionaire_circle .circle_content .listing .list_item h5 {
  font-weight: 850;
  font-size: 1rem;
}

.billionaire_circle .circle_content .listing .list_item p {
  font-size: 1rem;
  line-height: 1.3;
}

.billionaire_circle .circle_content .listing .list_item:before {
  content: " ";
  height: 14px;
  width: 14px;
  border-radius: 3px;
  position: absolute;
  background-color: #022B69;
  margin: 0.5% -2%;
  -webkit-box-shadow: 3px 3px 0 0 rgba(2, 43, 105, 0.3);
          box-shadow: 3px 3px 0 0 rgba(2, 43, 105, 0.3);
}

.billionaire_circle .circle_content button {
  color: white;
  background: #0066F5;
  padding: 3% 6%;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.halal_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0% 10%;
}

.halal_section .halal_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #022B69;
  padding-left: 5%;
}

.halal_section .halal_content h3 {
  font-size: 2rem;
  font-weight: 800;
  padding-right: 45%;
  line-height: 1.3;
}

.halal_section .halal_content p {
  font-size: 1.1rem;
  padding-right: 30%;
  line-height: 1.5;
  margin-top: 5%;
}

.halal_section img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 42%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10%;
}

.testimony {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #CDF2FC;
  margin: -3%;
}

.testimony img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  height: 130vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0%;
}

.testimony .testimony_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 7%;
  padding-top: 7%;
  padding-left: 7%;
}

.testimony .testimony_content h4 {
  color: #022B69;
  font-size: 2.5rem;
  line-height: 1.4;
}

.testimony .testimony_content p {
  color: #022B69;
  font-weight: 800;
  padding-top: 5%;
  line-height: 1.75;
}

.testimony .testimony_content p span {
  color: #022B6980;
  font-weight: 400;
}

.testimony .testimony_content a {
  color: #022B6980;
  text-decoration: none;
  font-weight: 700;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0% 4%;
  padding: 0% 2%;
  background-image: url(../images/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0% 100%;
}

footer .mobile_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 3% 10% 8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .mobile_app .app_review {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid rgba(2, 43, 105, 0.07);
  -webkit-box-shadow: 1px 12px 24px rgba(2, 43, 105, 0.05);
          box-shadow: 1px 12px 24px rgba(2, 43, 105, 0.05);
  padding: 3% 2%;
  border-radius: 10px;
  margin-right: 5%;
}

footer .mobile_app .app_review .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

footer .mobile_app .app_review .rating .num_star {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .mobile_app .app_review .rating .num_star h3 {
  color: #022B69;
  font-size: 2.5rem;
  padding: 8% 0% 0%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0%;
}

footer .mobile_app .app_review .rating .num_star h3 span {
  color: #6780A5;
  font-size: 1rem;
}

footer .mobile_app .app_review .rating .num_star .star {
  width: 10vw;
  height: 10vh;
  margin: 2.4% 5%;
}

footer .mobile_app .app_review .rating .app_logo {
  width: 10vw;
}

footer .mobile_app .app_review h6 {
  color: #022B69;
  margin: 0% 0% 3%;
  font-size: 1.3rem;
}

footer .mobile_app .app_review p {
  color: #6c82a3;
  margin: 3% 0%;
  font-size: 0.8rem;
}

footer .mobile_app .app_review a {
  color: #0066f5;
  margin: 10% 0% 0%;
  font-size: 0.7rem;
  font-weight: 600;
  text-decoration: none;
}

footer .middle_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% 0% 5%;
  background: #0066F5;
  padding: 7% 6%;
  border-radius: 12px;
  -webkit-box-shadow: 0 59px 51px -34px rgba(0, 103, 245, 0.3);
          box-shadow: 0 59px 51px -34px rgba(0, 103, 245, 0.3);
}

footer .middle_footer .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .middle_footer .text h3 {
  color: white;
  font-size: 2rem;
}

footer .middle_footer .email {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .middle_footer .email .email_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  background: rgba(255, 255, 255, 0.25);
  padding: 1%;
  border-radius: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .middle_footer .email .email_button input {
  background: transparent;
  border: none;
  color: #050404;
}

footer .middle_footer .email .email_button button {
  border: none;
  color: #022b69;
  padding: 2% 3%;
  border-radius: 5px;
  font-weight: 600;
}

footer .bottom_footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5%;
}

footer .bottom_footer .bottom_footer_col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .bottom_footer .bottom_footer_col h4 {
  color: #022B69;
}

footer .bottom_footer .bottom_footer_col ul {
  display: block;
  padding: 6% 0% 2%;
  color: #6780A5;
}

footer .bottom_footer .bottom_footer_col ul li {
  list-style: none;
  line-height: 2.5;
}

footer .bottom_footer .bottom_footer_col ul li a {
  text-decoration: none;
  color: #6780A5;
}

footer .social_media {
  margin: 3% 50% 5% 0%;
  padding-left: 0%;
}

footer .social_media li {
  display: inline;
  list-style: none;
}

footer .social_media li a {
  text-decoration: none;
}

footer .social_media li a i {
  color: rgba(2, 43, 105, 0.6);
}

footer .address_license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3%;
}

footer .address_license p {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #022B69;
  padding: 1.4% 0% 0.5%;
}

footer .address_license p span {
  color: #6780A5;
  font-size: 0.6rem;
}

footer .address_license .license {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5% 3%;
  margin: 0%;
  -webkit-box-shadow: 1px 8px 12px rgba(2, 43, 105, 0.02);
          box-shadow: 1px 8px 12px rgba(2, 43, 105, 0.02);
  border: 1px solid rgba(2, 43, 105, 0.06);
  border-radius: 5px;
}

footer .address_license .license .image {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

footer .address_license .license .image img {
  width: 90%;
  padding-top: 20%;
}

footer .address_license .license .text {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  padding-top: 3%;
  color: #022B69;
  font-weight: 600;
}

footer .address_license .license .text .fund {
  color: #6780A5;
  font-size: 0.6rem;
  font-weight: 400;
}

footer .copyright p {
  line-height: 1.2;
  margin: 1% 0%;
  color: #6780A5;
  font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
  * {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0%;
    margin: 1%;
  }
  header .nav_bar .logo_section svg {
    padding: 4%;
  }
  header .nav_bar .menu_list {
    display: none;
  }
  header .nav_bar .logIn_signUp {
    display: none;
  }
  header .nav_bar i {
    display: block;
    font-size: 2.5rem;
    color: #022B69;
    padding-right: 5%;
  }
  header .nav_bar i:hover {
    background: #6780A5;
  }
  .hero_section {
    background-position: -130px 550px;
    background-size: 790px;
    height: 910px;
  }
  .hero_section .sub_one_text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    padding: 5%;
  }
  .hero_section .sub_one_text h1 {
    font-size: 2.3rem;
    font-weight: 800;
    margin: 1% 0%;
    padding: 45% 0% 8%;
  }
  .hero_section .sub_one_text p {
    margin: 0% 0% 5%;
    padding: 0%;
    text-align: left;
    width: 100%;
  }
  .container_two .heading {
    padding: 0% 6%;
    margin-bottom: 5%;
  }
  .container_two .heading h3 {
    line-height: 1;
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 9%;
  }
  .container_two .plan_types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30%;
  }
  .container_two .plan_types .card {
    margin: 3.2%;
    padding: 6% 12%;
  }
  .goals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .goals .goals_text {
    margin-top: 100%;
  }
  .goals .goals_text h3 {
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 800;
  }
  .app_section {
    background-position: -8px 200px;
    background-size: 100%;
  }
  .app_section .app_content {
    padding: 0%;
  }
  .billionaire_circle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .billionaire_circle img {
    width: 100%;
  }
  .billionaire_circle .circle_content h3 {
    font-size: 2rem;
    font-weight: 800;
  }
  .billionaire_circle .circle_content .listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 8%;
  }
  .billionaire_circle .circle_content .listing .list_item {
    max-width: 100%;
    margin-bottom: 2%;
  }
  .billionaire_circle .circle_content .listing .list_item h5 {
    font-size: 1.5rem;
    margin-bottom: 0%;
    margin-left: 9%;
    line-height: 0;
  }
  .billionaire_circle .circle_content .listing .list_item:before {
    margin: -0.5% 3%;
  }
  .billionaire_circle button {
    margin: 0% 30%;
  }
  .halal_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .halal_section img {
    width: 100%;
  }
  .halal_section .halal_content h3 {
    font-size: 1.8rem;
  }
  .halal_section .halal_content p {
    padding-right: 10%;
  }
  .testimony {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimony img {
    width: 100%;
  }
  .testimony .testimony_content h4 {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 700;
  }
  .testimony .testimony_content p {
    font-size: 0.8rem;
    font-weight: 800;
  }
  .testimony .testimony_content p span {
    font-weight: 800;
  }
  .testimony .testimony_content a {
    font-size: 0.8rem;
  }
  footer .mobile_app {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  footer .mobile_app .app_review {
    margin: 5% 0%;
  }
  footer .mobile_app .app_review .rating {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .mobile_app .app_review .rating .num_star h3 {
    padding: 0%;
    margin: 0%;
  }
  footer .mobile_app .app_review .rating .app_logo {
    padding: 0%;
    margin: 0%;
  }
  footer .middle_footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  footer .middle_footer .email {
    padding: 0%;
  }
  footer .middle_footer .email .email_button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
  }
  footer .middle_footer .email .email_button input {
    background: rgba(255, 255, 255, 0.25);
    padding: 5% 3%;
    border-radius: 5px;
    margin-bottom: 10%;
  }
  footer .middle_footer .email .email_button button {
    padding: 5% 1%;
    width: 50%;
  }
  footer .bottom_footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin-top: 20%;
  }
  footer .address_license {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .address_license .license {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */